@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

  nav button { 
      display: none;
} 
    /* hamburger button does not need to be shown */
    
    nav ul.hide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        flex: 1 1 auto;
    }
    
    nav ul li {
        display: inline-flex;
        flex-wrap: nowrap;
        margin: 2%;
        border: 3px solid #0793FF;
        border-radius: 10px;
}
    
    main {
        clear: both;
        display: flex;
        flex-flow: row wrap;
    }
    
    main figure.aurora {
        max-width: 96%;
        margin: 2%;
}
   
    
  section.forecast { 
    display: flex;
    flex-flow: column nowrap;
    margin: 2%;
    color:  #0793FF;
    width: 95%;
    align-items: center;

}
    
    table th, td {
        padding: 5px;
        border: 1px solid #0793FF;
        width: 5%;
        font-size: 1.2rem
      
}  /* show the 10-day forecast with the medium view and up */
    
    section.summary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 2%;
}
        
    p.town-article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        
    
}
  
  article picture img {
      align-content: center;
      width: 40%;
      
} 


    /* grid container */
    
 .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .7rem;
    margin: 2%;
    max-width: 98%; 
}
    
/*form CSS*/
    
fieldset {
    border: 3px solid #0793FF;
    margin: 0 20%;
    padding: 1.2rem;
    border-radius: .6rem;
}
    
    input {
        margin-left:2%;
    }

    input.submitBtn {
    -webkit-appearance: none;
    color: black;
    border: 3px solid #0793FF;
    border-radius: 7px;
    margin: 1rem 20%;
    font-size: 1.5rem;
    padding: .2rem;
    background-color: #FF4900;
    box-shadow: 5px 5px 10px #FF4900;
}
    
    /*index CSS*/
  
    section.story {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin: 2%;
    }
    
    #wstory {
        padding: 10px;
        margin: 2%;
        width: 96%;
        border: 1px solid  #5F5F5F;
        box-shadow: 6px 6px 6px  #5F5F5F;
    }
    
    #mount{
        margin: 1.5%;
    }
    
    section.towns {
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        margin: 2%;
    }
    
    section.towns2 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 2%;
    
    
}
  
    section.story{
        border: none;
    }
    
    section.towns {
        border: none;
    }
    
    section.towns2 {
        border: none;
    }
    
    .towndata {
        display: flex;
        flex-flow: row nowrap;
        margin: 5%;
        
        border: 2px solid #5F5F5F;
        box-shadow: 6px 6px 6px #5F5F5F;
        
    }
 
    main article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    max-width: 96%;
    
}
       
    section.summary {
        max-width: 80%;
        margin-left: 10%;
        border: 2px solid #0793FF;
}
    

    picture img#w_icon {
        width: 125px;
 }



}