* { box-sizing: border-box;} 

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 1 1 auto;
    font-family: raleway, helvetica, sans-serif;
    font-size: 16px;
    background-color: #A0D6FF;
    margin: 0 2% 0 2%;
}
    
    header, nav, main, footer { 
    max-width: 100%;
    margin: 0 2% 0 2%;
}

header {
    background-color: #659DBD;
    padding: 25px;
}
header h1 {
   font-family: 'Raleway', Helvetica;
    font-size: 60px;
    margin: 0 0 0 5%;
    text-align: center;
    color: #705626;
}
header img {
    float: right;
    height: 50%;
    width: auto;
    margin: 0 0 0 2%;
}

header .subheading {
    font-family: 'Raleway', cursive;
    font-size: 24px;
    color: #FBEEC1;
    text-align: center;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
nav button {
    max-width: 30%;
}

nav ul {
    background-color: #314D70;;
    list-style-type: none;
    margin: 0;
    padding: 8px;
    width: 20%;
}

nav ul.hide {
    display: none;
}

nav ul li {
    padding: 5px;
    border: 1px solid #659DBD;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #FBEEC1;
    padding: 10px;
    text-decoration: none;
}
nav ul li.active a {
    color: #659DBD;
}
nav ul li a:hover {
    color: #A2CBFF;
}

main {  
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    margin: 2%;
    padding: 15px;
    
}

main h2{
    color: #314D70;
    text-align: center;
    /*background-color: #FBEEC1;*/
    /*border-radius: 30px;*/
    font-size: 24px;
    font-family: 'Raleway', cursive;
}

hr {
    height: 5px;
    border-style: solid;
    border-color: #FBEEC1;
    border-width: 5px 0 0 0;

}

hr.end {
    height: 5px;   
    border-color: #FBEEC1;
    border-width: 0 0 5px 0;
    
}

section.event {
    display: flex;
    flex-flow: row nowrap;
    
}

p {
    color: #314D70;
    text-align: justify;
    margin: 0;
}

figure#cyclist {
    margin: 0 2%;
    
}

section.advertures {
    display: flex;
    flex-flow: row nowrap;
    
}

picture#mbt {
    
}

section.sales {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    
}

picture#mbike {
    
}


seciton.services {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}


footer {
    clear: both;
    width: 96%;
    margin: 2%;
    color: #705626;
    background-color:  #659DBD;
    font-size: 12px;
    text-align: center;
}



/*sales css*/

section.accordion img {
    margin-left: 40%;
}

