@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
  


/* grid container */

 .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    margin: 0 0 0 2%;
    max-width: 90%;
     
}
  .gallery figure img:hover{
    box-shadow: 12px 12px 12px #5F5F5F;
}

    main {
       display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    section.story {
        flex-flow: row nowrap;
        width: 98%
    }
    
    
    
    section.franklin {
        flex-flow: column nowrap;
        width: 30%;
        box-shadow: 6px 6px 6px #5F5F5F;
        margin: 0;
    }
    
    #frankinfo {
        border: none;
        box-shadow: none;
    }
  
    
   section.greenville {
        flex-flow: column nowrap;
        width: 30%;
        border: 1px solid  #5F5F5F;
        box-shadow: 6px 6px 6px  #5F5F5F;
    }
    
     #greeninfo {
        border: none;
        box-shadow: none;
    }
    

    
    section.springfield {
        flex-flow: column nowrap;
        width: 30%;
        border: 1px solid  #5F5F5F;
        box-shadow: 6px 6px 6px  #5F5F5F;
    } 
    
      #springinfo{
        border: none;
        box-shadow: none;
    }
  
main#towninfo article{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 2%;
        border: 3px solid #5F5F5F;
        border-radius: 10px;
     
}
    .towndata {
        display: flex;
        flex-flow: row nowrap;
        
    }
 
    
    
    
}